body {
    /*background-color: rgb(25, 25, 25);*/
    /*background: linear-gradient(to bottom right, blue, pink);*/
}

.container {
    min-width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.kanban-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;
}

.kanban-block {
    background-color: #101204;
    color: #B6C2CF;
    padding: 0.6rem;
    width: 30.5%;
    min-width: 14rem;
    min-height: 4.5rem;
    border-radius: 0.3rem;
    margin: 0.2rem;
}

.task {
    background-color: #22272B;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
}